<div class="footer-nav bg-perso-dark">
    <footer class="page-footer bg-perso-dark">
      <div class="container">
        <div class="row" id="footerStruct">

            <div class="col l4">
                <p>Test</p>
            </div>

            <div class="col l4">
                <p>© 2022 by Antoine Monie. Proudly created with Love ❤️</p>
                <a href="https://www.instagram.com/travlrsoul/?hl=fr" target="_top"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://be.linkedin.com/in/antoine-monie/en-us" target="_top"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/MonieAnt" target="_top"><i class="fa-brands fa-github"></i></a>
            </div>
    
            <div class="col l4">
                <p>Feel free to donate :</p>
                <a href="#"><i class="fa-brands fa-btc"></i></a>
                <a href="#"><i class="fa-brands fa-ethereum"></i></a>
            </div>
  
        </div>
      </div>
    </footer>
</div>